@media (max-width: 1400px) {
    .about-section__shape {
        transform: translate(-10%, 80%);
    }
}
@media (max-width: 1300px) {
    .hero-section__left {
        width: 45%;
    }
    .hero-section__right {
        vertical-align: middle;
        padding: 0;
        width: 55%;
        padding: 4.2rem;
    }
    .features-section__content,
    .about-section__content {
        margin-bottom: 5rem;
    }
    .process-row h4 {
        width: calc((100% - 14rem) * 0.35);
        margin-right: 6rem;
    }
    .process-row .text-lg {
        width: calc((100% - 14rem) * 0.35);
        margin-right: 6rem;
    }
    .process-link {
        width: calc((100% - 14rem) * 0.25);
    }
    .about-section__right_container {
        width: 100%;
    }

    @media (max-width: 1200px) {
        .container {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        .navigation,
        .hero-section__content,
        .features-section__content,
        .designs-section__content,
        .process-section__content,
        .about-section__content,
        .footer__content {
            padding: 5rem;
        }

        .hero-section__right h1 {
            font-size: 4rem;
            line-height: 4.4rem;
        }
        .process-section__content {
            margin-bottom: 7rem;
        }
        .num {
            width: calc((100% - 9rem) * 0.05);
            margin-right: 1rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.2rem;
        }
        .process-row h4 {
            width: calc((100% - 9rem) * 0.35);
            margin-right: 4rem;
        }
        .process-row .text-lg {
            width: calc((100% - 9rem) * 0.35);
            margin-right: 4rem;
        }
        .process-link {
            width: calc((100% - 9rem) * 0.25);
        }
        .about-section__content {
            margin-bottom: 12rem;
        }
        .about-section__right_container {
            width: 100%;
        }
        .about-section__right {
            padding-top: 12rem;
        }
        .orange-line {
            width: 3rem;
            height: 0.3rem;
            margin-right: 1rem;
            display: inline-block;
        }
        .testimonials-section__left {
            padding-left: 9rem;
            padding-top: 16rem;
        }
    }
}
