/* Header */

#header {
    padding: 4.1rem 9.1rem;
}
.logo {
    vertical-align: middle;
    display: inline-block;
    
    width: 8rem;
}

.navigation {
    display: inline-block;
    width: calc(100% - 8rem);
}

.navigation__links {
    width: 90%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.navigation__links li {
    display: inline-block;
}

.navigation__links li:not(:last-child) {
    margin-right: 5rem;
}

.signIn_wrapper {
    display: inline-block;
    width: 10%;
    text-align: end;
    vertical-align: middle;
}

.navigation__links li a,
.navigation a {
    color: var(--text-color);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3rem;
    vertical-align: top;
}

#mobile-nav-icon {
    display: none;
}

.close-icon {
    font-size: 6rem;
    color: #1d263a;
    position: absolute;
    right: 3rem;
    top: 2.9rem;
}

.mobile-nav {
    background-color: rgb(251, 245, 245);
    height: 108vw;
    width: 108vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    display: none;
}

.show-menu {
    display: inline-block;
}

/* Hero Section */

.hero-section__content {
    background-color: var(--beige-color);
    border-radius: 3rem;
    margin-bottom: 10rem;
    padding: 7.6rem 9.1rem;
}

.hero-section__left {
    display: inline-block;
    vertical-align: top;
    width: 43%;
    position: relative;
}

.chair {
    width: 43.4rem;
    height: 52.5rem;
    vertical-align: top;
    position: relative;
    z-index: 1;
}

.circle {
    width: 31.3rem;
    height: 31.3rem;
    position: absolute;
    top: 7rem;
    right: 0;
}

.hero-section__right {
    display: inline-block;
    vertical-align: middle;
    width: 57%;
    padding: 4.2rem;
}

.uppercase-text-2.text-top {
    color: var(--orange-color);
}

.hero-section__right h1 {
    margin-top: 3.4rem;
    margin-bottom: 2.8rem;
}

.hero-section__right p {
    margin-bottom: 5.8rem;
}

.orange-line {
    width: 4rem;
    height: 0.4rem;
    margin-right: 2rem;
    background-color: var(--orange-color);
    display: inline-block;
    margin-bottom: 0.3rem;
}

/* Features Section */

.features-section__content {
    padding: 0 9.1rem;
    margin-bottom: 10rem;
}

.feature:not(:last-child) {
    margin-right: 10rem;
}

.feature {
    width: calc((100% - 20rem) / 3);
    display: inline-block;
    vertical-align: top;
}

.feature-icon,
.feature-text {
    display: inline-block;
    vertical-align: middle;
}

.feature-icon {
    width: calc((100% - 4.2rem) * 0.3);
    margin-right: 4.2rem;
}

.feature-text {
    width: calc((100% - 4.2rem) * 0.7);
}

.feature-text h5 {
    margin-bottom: 1rem;
}
.ellipse {
    position: relative;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

.ellipse.shape-1 {
    background-color: var(--green-color-25);
}

.ellipse.shape-2 {
    background-color: var(--beige-color);
}

.ellipse.shape-3 {
    background-color: var(--blue-color-25);
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Designs Section */

.designs-section__content {
    padding: 0 9.1rem;
    margin-bottom: 14rem;
    position: relative;
}

#designs-section .heading-3 {
    margin-bottom: 4.6rem;
}

.arrows {
    position: absolute;
    top: 1.6rem;
    right: 9.1rem;
}

.arrow-right,
.arrow-left {
    width: 2.5rem;
    height: 2rem;
}

.arrow-right {
    margin-right: 1.5rem;
}

.design-card {
    display: inline-block;
    vertical-align: top;
    object-fit: contain;
    width: calc((100% - 4rem) / 3);
}

#designs-section .design-card:not(:last-child) {
    margin-right: 2rem;
}

.design-img {
    height: 68rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

#design-last-card {
    position: relative;
}

.design-inner-card {
    padding: 2rem;
    width: 80%;
    height: 11.5rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    box-shadow: 0rem 3.4rem 5rem 0rem rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 1.6rem;
    bottom: 1.6rem;
}

.design-inner-card span {
    color: var(--orange-color);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.2rem;
}

#inner-card-text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.design-inner-card img {
    position: absolute;
    width: 2rem;
    right: 2.4rem;
    bottom: 2.4rem;
}

/* Process Section*/

.process-section__content {
    padding: 0 9.1rem;
    margin-bottom: 10rem;
}

#process-section .uppercase-text-1 {
    opacity: 0.69;
    margin-bottom: 11rem;
}

.process-row:not(:last-child) {
    margin-bottom: 15rem;
}

.num {
    width: calc((100% - 18rem) * 0.05);
    color: var(--green-color-100);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 4rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    display: inline-block;
    vertical-align: top;
}

.process-row h4 {
    width: calc((100% - 18rem) * 0.35);
    color: var(--text-color);
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.6rem;
    letter-spacing: -0.1rem;
    vertical-align: top;
    display: inline-block;
    margin-right: 8rem;
}

.process-row .text-lg {
    width: calc((100% - 18rem) * 0.35);
    padding-left: 0;
    padding-top: 0;
    margin-right: 8rem;
    vertical-align: top;
    display: inline-block;
}
.process-link {
    width: calc((100% - 18rem) * 0.25);
    display: inline-block;
    margin-top: 3.2rem;
}

.process-link a {
    display: inline-block;
}
/* About Section */

#about-section .container {
    background-color: var(--grey-color-25);
}

.about-section__content {
    padding: 16rem 9.1rem;
}

.about-section__left {
    display: inline-block;
    vertical-align: top;
    margin-right: 11.8rem;
    width: calc((100% - 11.8rem) * 0.5);
}

.about-section__left .img-box {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.about-section__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2rem;
}

.about-section__shape {
    position: absolute;
    top: 80%;
    left: 50%;
}

.about-section__right {
    width: calc((100% - 11.8rem) * 0.5);
    display: inline-block;
    vertical-align: top;
    padding-top: 17.4rem;
}

.about-section__right_container {
    width: 80%;
}

.about-section__right h3 {
    margin-bottom: 2rem;
}

.about-section__right p {
    margin-bottom: 4.8rem;
}

/* Testimonials Section */

#testimonials-section .container {
    background-color: var(--orange-color);
    padding: 0;
}

.testimonials-section__content {
    margin-bottom: 13.6rem;
}

.testimonials-section__left {
    display: inline-block;
    width: 50%;
}
.left-content {
    margin: 0 auto;
    padding-top: 18rem;
    padding-left: 14rem;
    padding-right: 6rem;
}

.testimonials-section__left .heading-3 {
    color: var(--white-color);
    margin-bottom: 4rem;
}

.white-line {
    background-color: #fff;
    width: 4rem;
    height: 0.4rem;
    display: inline-block;
    margin-bottom: 0.4rem;
}

.testimonials-section__left .testimonials-name {
    color: var(--white-color);
    margin-left: 2rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: 0.1rem;
}

.testimonials-section__left p {
    margin-top: 1rem;
    color: var(--white-color);
    margin-left: 6rem;
}

.testimonials-section__right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.testimonials-img-box {
    display: inline-block;
    height: 72rem;
    position: relative;
}
.testimonials-img {
    height: 72rem;
    width: 100%;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9.2rem;
    height: 9.2rem;
    border-radius: 50%;
    border: 0.4rem solid var(--white-color);
    background-color: transparent;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    height: 2.6rem;
    width: 2.6rem;
}

/* Subscribe Section */

#subscribe-section {
    text-align: center;
    margin-bottom: 12.5rem;
}

#subscribe-section .heading-3 {
    margin-bottom: 3.6rem;
}

#subscribe-section .text-lg {
    margin-bottom: 5.6rem;
}

.email-input {
    background-color: var(--white-color);
    padding: 2rem 2.8rem;
    height: 7rem;
    width: 40.4rem;
    border: 0.1rem solid var(--grey-color-50, rgba(223, 223, 223, 0.7));

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 3.4rem;
}

.subscribe-input {
    background-color: var(--green-color-100);
    padding: 2rem 2.8rem;
    height: 7rem;
    width: 20rem;
    border: 0.1rem solid var(--grey-color-50, rgba(223, 223, 223, 0.7));

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;

    color: var(--white-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

.promise-container {
    position: relative;
}

.promise-container .lock-img {
    position: absolute;
    top: 0.4rem;

    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.promise-container .text-md {
    display: inline-block;
    vertical-align: top;
    margin-left: 2.4rem;
}

/* Footer Section */

.footer__content {
    background-color: var(--beige-color);
    border-radius: 3rem;
    padding: 14rem 9.1rem;
    margin-bottom: 10rem;
}

.footer__content > *:not(:last-child) {
    margin-right: 2.6rem;
}

.footer-column {
    display: inline-block;
    vertical-align: top;
}

.footer__content > *:not(:first-child) {
    width: calc(((100% - 7.8rem) * 0.7) / 3);
}

.footer__brand {
    width: calc((100% - 7.8rem) * 0.3);
}

.footer__brand img {
    height: 2.8rem;
    width: auto;
}

.footer__brand img,
.footer__heading {
    margin-bottom: 6.5rem;
}

.footer__brand img + p {
    margin-bottom: 3.4rem;
}

.footer__content a,
p {
    display: block;
    margin-bottom: 2rem;
}
